{% extends "base.html" %}

{% block title %}Album Cover{% endblock %}

{% block content %}
    <div class="marqueeContainer Title">
        <span id="keyText1" hidden>{{ title }} •</span>
        <div class="marquee marqueeright marqueeright1 replaced1">No Title</div>
        <div class="marquee marqueeright marqueeright2 replaced1">No Title</div>
    </div>

    <div class="marqueeContainer Artist">
        <span id="keyText2" hidden>{{ artist }} •</span>
        <div class="marquee marqueeleft marqueeleft1 replaced2">No Artist</div>
        <div class="marquee marqueeleft marqueeleft2 replaced2">No Artist</div>
    </div>

    <div id="fill"></div>
    <div id="spacing"></div>

    <div id="Album-Cover">
        <img src="{{ image }}" alt="Album Cover" class="center">
    </div>

    <style>
        body {
            background-color: rgb({{ red }}, {{ green }}, {{ blue }});
            color: {{ text_color }};
        }
        .subtitle {
            color: {{ subtitle_color }};
        }
    </style>

    <script src="{{ url_for('static', filename='Marquee.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='marquee.css') }}">
{% endblock %}