{% extends "base.html" %}
{% block title %}Album Cover{% endblock %}
{% block header %}
<body style="background-color:rgb({{ red }},{{ blue }},{{ green }}); color: {{textColor}};">
<link rel="stylesheet" href="/static/marquee.css" />
<script src="/static/Marquee.js"></script> 

</body>
{% endblock %}
{% block content %}
    <style>
        .marquee {
            color: {{subtitleColor}};
        }
    </style>

    <div class="marqueeContainer Title">
    <span id="keyText1" hidden> {{ title }} •</span>
    <div class="marquee marqueeright marqueeright1 replaced1"> No Title </div>
    
    <div class="marquee marqueeright marqueeright2 replaced1"> No Title </div>
  </div>
  
  <div class="marqueeContainer Artist">
    <span id="keyText2" hidden> {{ artist }} •</span>
    <div class="marquee marqueeleft marqueeleft1 replaced2"> No Artist </div>
    
    <div class="marquee marqueeleft marqueeleft2 replaced2"> No Artist </div>
  </div>
  <div id="fill"></div>
  <script> 
    resizeTitle();
    resizeArtist();
    setRepeat();
    </script>

    <h1>Now Playing</h1>

    <div id="Album Cover">
        <script>
            window.innerWidth
        </script>

        <style type="text/css">
            .center
            {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20vh;
            width:50%;
            }
        </style>

        <div>
            <img src="{{ image }}"  class="center">
        </div>
    </div>
  
    <script>
        setTimeout(function(){
            window.location.reload();
        }, {{ time }} );
    </script>
  
{% endblock %}