<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Spotify BPM Sorter</title>
</head>
<body>
    <header>
        <h1>Spotify API</h1>
        <nav>
            <ul>
                {% if session['display_name'] %}
                    <li>Your name is {{ session['display_name'] }}</li>
                    <li><a href="{{ url_for('routes_file.get_playlists') }}"><span>Get playlists here</span></a></li>
                    <li><a href="{{ url_for('routes_file.player') }}"><span>Player</span></a></li>
                    <li><a href="{{ url_for('oauth.logout') }}"><span>Log Out</span></a></li>
                {% else %}
                    <li><a href="{{ url_for('oauth.login') }}"><span>Log In</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            <div>
                {% block header %}{% endblock %}
            </div>
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>