{% extends 'base.html' %}

{% block title %}Playlist Details{% endblock %}

{% block content %}
    <h2>Hello {{ session['display_name'] }}</h2>
    <h3>Here you can find {{ playlist_data['name'] }}'s tracklist, {{ playlist_data['tracks']['items']|length }} songs</h3>

    <section>
        {% if generated_pl|length > 0 %}
            {% for key in dict_of_details %}
                {% if key != 'id' %}
                    <div>
                        {{ key }}: {{ dict_of_details[key] }}
                    </div>
                {% endif %}
            {% endfor %}

            {% for Track in generated_pl %}
                <div>
                    {% if Track['track']['album']['images']|length > 0 %}
                        <img src="{{ Track['track']['album']['images'][0]['url'] }}" alt="{{ Track['track']['name'] }}" height="4%" width="4%">
                    {% endif %}
                    {{ Track['track']['name'] }} {{ list_of_bpm[loop.index0] }}
                </div>
            {% endfor %}
        {% endif %}
    </section>

    <div>Old Playlist</div>

    <section>
        {% if playlist_data['tracks']['items']|length > 0 %}
            {% for Track in playlist_data['tracks']['items'] %}
                <div>
                    {% if Track['track']['album']['images']|length > 0 %}
                        <img src="{{ Track['track']['album']['images'][0]['url'] }}" alt="{{ Track['track']['name'] }}" height="4%" width="4%">
                    {% endif %}
                    {{ Track['track']['name'] }}
                </div>
            {% endfor %}
        {% else %}
            <p>No Tracks</p>
        {% endif %}
    </section>

    <form method="post">
        <button type="submit" name="BPM">Sort by BPM</button>
        <button type="submit" name="GEN">Generate BPM Playlist</button>
    </form>
{% endblock %}