{% extends 'base.html' %}

{% block title %}User Playlists{% endblock %}

{% block content %}
    <h2>Hello {{ session['display_name'] }}</h2>
    <h3>Here you can find your {% if offset %}next{% else %}last{% endif %} {{ data['items']|length }} playlists!</h3>

    {% if offer_offset %}
        <a href="{{ url_for('routes_file.get_playlists', offset=offset) }}">Next Page</a>
    {% endif %}

    <section>
        {% for PL in data['items'] %}
            <div>
                <a href="{{ url_for('routes_file.playlist_details', href=PL['href']) }}">
                    {% if PL['images']|length > 0 %}
                        <img src="{{ PL['images'][0]['url'] }}" alt="{{ PL['name'] }}" height="4%" width="4%">
                    {% endif %}
                    {{ PL['name'] }}
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock %}